{% assign default_paths = site.pages | map: "path" %}
{% assign page_paths = site.header_pages | default: default_paths %}

{% assign collections = site.collections | where_exp: 'item', 'item.label != "posts"' %}
<nav>
  <ul class='list-unstyled nav-section'>
    {% for collection in site.data.navigation %}
      <li class='nav-section-overview'>
        <a href="{{ collection.slug | relative_url }}">
          {{ collection.name }}
        </a>
      </li>
      <ul class='list-unstyled'>
        {% for page in collection.pages %}
          <li class='nav-page'>
            {% capture page_url %}{{ collection.slug}}/{{page.slug}}{% endcapture %}
            <a href="{{ page_url | relative_url }}">{{ page.name }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </ul>
</nav>

<hr>

<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
  <img alt="Creative Commons License" src='{{ site.url }}/assets/by.svg' style='width: 80px;'>
</a>
<br />
<small>
  This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
</small>
