<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="container" aria-label="Content">
      <div class='row'>
        <div class='col-sm-4'>
          {% include navigation.html %}
        </div>
        <div class='col-sm-8'>
          {{ content }}
        </div>
      </div>
    </main>

     {% include footer.html %}

  </body>
  <script type="text/javascript" src="/assets/javascripts/bundle.js" charset="utf-8"></script>
</html>
