p {
  padding: 5px;
}

.site-brand {
  font-size: 1.5em;
  font-weight: 300;
  &:hover {
    text-decoration: none;
  }
}

.nav-section {
  font-weight: 300;
  a:hover {
    text-decoration: none;
  }
}

.nav-section-overview {
  padding-bottom: 5px;
  padding-top: 5px;

  a {
    font-size: 1.25em;
  }
}

.nav-page {
  a {
    color: #455a64;
    &:hover {
      color: $link-color;
    }
  }
}

.next-continue {
  display: block;
  font-size: .8em;
  line-height: 1.25em;
}

.next-title {
  display: block;
  font-size: 1.8em;
  line-height: 1.8em;
}
