.img-container {
  background: $gray;
  min-height: 400px;
}

.codeblock {
  background-color: $codeblock;
  pre {
    padding: 20px;
    .json-key {
      color: #000080;
    }
    .json-string {
      color: #d14;
    }
    .json-value {
      color: #009999;
    }
  }
}
